:root {
    --main-dark: #27292a;
    --main-light: #fff;
    --main-pinky: #ec6090;
    --main-background:#1f2122;


    --main-bg-body: var(--main-background)
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body {
    background-color: var(--main-bg-body);
    font-family: 'Poppins', sans-serif;

}